
body{
    background-color:rgb(209, 213, 216);
}
nav{
    height: 165px;
    
}
h1{
    font-family: 'Pacifico', cursive;
    color: rgba(44, 44, 44, 0.856);
    text-shadow:2px 2px rgba(216, 215, 215, 0.829);
}
h4{
    font-family: 'Dosis', sans-serif;
}

.container-sm{
    margin-top: 40px;
}

.row{
    padding: 10px;
    background-color: #00bcd4;
    margin: 2px;
}

.time{
    margin: 0px;
    padding: 0px;
    text-align: center;
            
}

/* .form{
    margin: 0px;
    padding: 0px;
    
    

} */

.form{
    margin-right: 0px;
    padding:5px;
    width: 100%;
    background-color: #383b3b;
    color: mediumspringgreen;

}



.saveBtn{
    
    width: 100%;
    height: 100%;
}

.red{
    background-color: rgba(180, 34, 34, 0.829) !important;
}

.gray{
    background-color: rgba(160, 157, 157, 0.781) !important;
}

.green{
    background-color: rgba(2, 150, 2, 0.788) !important;
}